* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #11111b;
    color: white;
}

.game {
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.top h1 {
    font-size: 42px;
    color: #8b7cff;
}

.top p {
    margin-top: 8px;
    color: #aaa;
}

.scoreBox {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    background: #20202d;
    padding: 15px 25px;
    border-radius: 15px;
}

.gameArea {
    height: 430px;
    border-radius: 25px;
    background: #242435;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.gameArea.waiting {
    background: #d83b3b;
}

.gameArea.ready {
    background: #28c76f;
    cursor: pointer;
}

.message {
    text-align: center;
}

.emoji {
    font-size: 80px;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.gameArea p {
    color: #ccc;
    margin-bottom: 25px;
}

button {
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    background: #8b7cff;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.result {
    margin-top: 20px;
    font-size: 22px;
    min-height: 35px;
    color: #ffd166;
}

@media(max-width:600px) {

    .top h1 {
        font-size: 30px;
    }

    .gameArea {
        height: 350px;
    }

    .scoreBox {
        font-size: 14px;
    }
}
#catchArea {
    position: relative;
    overflow: hidden;
}

#target {
    position: absolute;
    display: none;
    border: none;
    background: transparent;
    font-size: 55px;
    padding: 5px;
    cursor: pointer;
    transition: 0.08s;
}

#target:hover {
    transform: scale(1.2);
}